<!DOCTYPE html>
<html ng-app="lunchroom">
<head>
  <title>Lunch Orders</title>
  <script type="text/javascript" src="js/jquery-1.10.2.js"></script>
  <script type="text/javascript" src="js/angular.js"></script>
  <script type="text/javascript" src="js/angular-resource.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>
  <script type="text/javascript" src="js/lunchroom.js"></script>
  <link rel="stylesheet" href="css/bootstrap.min.css"/>
  <style type="text/css">
    @page {
      size: auto;
      margin: 25mm 25mm 25mm 25mm;
    }
    .classroom-order {
      page-break-inside: avoid
    }
    body {
      font-size: x-large;
      counter-reset: page;
    }
    .page-break {
      text-align: right;
      font-size: smaller;
      font-style: italic;
    }
    .page-break:after {
      counter-increment: page;
      content:  "Page " counter(page) " of " attr(title)
    }
    li { margin-bottom: 12px; }

    @media all {
      .page-break { display: none; }
    }
    @media print {
      .page-break { display: block; page-break-after: always; }
    }

  </style>
</head>
<body>
  <div class="container" ng-controller="OrdersController" ng-init="init()">
    <h1>Lunch Orders <small>{{ title }}</small></h1>
    <div class="container classroom-order" ng-repeat="classroom in classrooms | orderBy:getGradeSortValue" ng-hide="combine">
      <span ng-switch on="$index % 3">
        <span ng-switch-when="0">
          <div class="row">
            <span class="span4" ng-show="classrooms[$index+0]">
              <h3>{{ classrooms[$index+0].grade }} - {{ classrooms[$index+0].teacher }}</h3>
              <div ng-repeat="student in classrooms[$index+0].students | orderBy:'name'" style="padding: 6px 0;">
                <span ng-init="items = getOrderItems(student.order)">{{ student.name }} -
                  <span ng-repeat="item in items track by $index">
                    <strong>{{ item }}</strong><span ng-hide="$last">, </span>
                  </span>
                </span>
              </div>
            </span>
            <span class="span4" ng-show="classrooms[$index+1]">
              <h3>{{ classrooms[$index+1].grade }} - {{ classrooms[$index+1].teacher }}</h3>
              <div ng-repeat="student in classrooms[$index+1].students | orderBy:'name'" style="padding: 6px 0;">
                <span ng-init="items = getOrderItems(student.order)">{{ student.name }} -
                  <span ng-repeat="item in items track by $index">
                    <strong>{{ item }}</strong><span ng-hide="$last">, </span>
                  </span>
                </span>
              </div>
            </span>
            <span class="span4" ng-show="classrooms[$index+1]">
              <h3>{{ classrooms[$index+2].grade }} - {{ classrooms[$index+2].teacher }}</h3>
              <div ng-repeat="student in classrooms[$index+2].students | orderBy:'name'" style="padding: 6px 0;">
                <span ng-init="items = getOrderItems(student.order)">{{ student.name }} -
                  <span ng-repeat="item in items track by $index">
                    <strong>{{ item }}</strong><span ng-hide="$last">, </span>
                  </span>
                </span>
              </div>
            </span>
          </div>
          <div class="page-break" title="Lunch Orders for {{ title }}"></div>
        </span>
      </span>
    </div>
    <div class="container" ng-show="combine" ng-repeat="studentGroup in studentGroups">
      <span ng-switch on="$index % 3">
        <span ng-switch-when="0">
          <div class="row">
            <span class="span4" ng-show="studentGroups[$index+0]">
              <div style="padding: 6px 0;" ng-repeat="student in studentGroups[$index+0]">
                <span ng-init="items = getOrderItems(student.order)">{{ student.name }} -
                  <span ng-repeat="item in items track by $index">
                    <strong>{{ item }}</strong><span ng-hide="$last">, </span>
                  </span>
                </span>
              </div>
            </span>
            <span class="span4" ng-show="studentGroups[$index+1]">
              <div style="padding: 6px 0;" ng-repeat="student in studentGroups[$index+1]">
                <span ng-init="items = getOrderItems(student.order)">{{ student.name }} -
                  <span ng-repeat="item in items track by $index">
                    <strong>{{ item }}</strong><span ng-hide="$last">, </span>
                  </span>
                </span>
              </div>
            </span>
            <span class="span4" ng-show="studentGroups[$index+2]">
              <div style="padding: 6px 0;" ng-repeat="student in studentGroups[$index+2]">
                <span ng-init="items = getOrderItems(student.order)">{{ student.name }} -
                  <span ng-repeat="item in items track by $index">
                    <strong>{{ item }}</strong><span ng-hide="$last">, </span>
                  </span>
                </span>
              </div>
            </span>
          </div>
          <div class="page-break" title="Lunch Orders for {{ title }}"></div>
        </span>
      </span>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th colspan="4"><h3>Order Totals <small>{{ title }}</small></h3></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in menu | orderBy: ['misc', 'name']">
          <td><strong class="span1 text-right">{{ orderTotal(item) }}</strong></td>
          <td><span class="span8">{{ getDisplayName(item.name) }} [{{ item.code }}]</span></td>
          <td><span class="span1 text-right">{{ item.price | currency }} </span></td>
          <td><strong class="span1 text-right">{{ (orderTotal(item) * item.price) | currency }} </strong></td>
        </tr>
      </tbody>
    </table>
    <br/>
    <div>
      <h4>Classrooms With No Order</h4>
      <ul>
        <li ng-repeat="noOrder in noOrders">{{ noOrder }}</li>
      </ul>
    </div>
  </div>
</body>
</html>